.dashboard{
    width: 87vw;
    height: auto;
    background: linear-gradient(180deg, #17A6E4 0%, #000000 80.84%);
}

.top{
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 190px;
}

.top img {
    margin-left: 73px;
}

.top div{
    display: flex;
    flex-direction: column;
    justify-content: end;
    
    margin-left: 42px;
    color: #fff;
}

.top span{
    color: rgba(255, 255, 255, 0.44);
}

.top p{
    font-size: 17px;
    margin: 10px 0px;
    /* margin: vertical horizontal */
    /* margin: top right bottom left */
    /* margin: all */
}

.top h1{
    font-size: 48px;
    margin: 0px;
}

.mid{
    padding-left: 73px;
}
.mid img{
    margin-top: 145px;
    margin-right: 20px;
}
.img9:hover {
    cursor: pointer;
}

.bottom{
    padding-left: 73px;
    margin-top: 80px;
    display: flex;
    flex-direction:row;

}

.bottom div{
    display: flex;
    flex-direction: row;
    
    color: #fff;
}

.bottom p {
    font-size: 18px;
}

#p1 {
    padding-left: 27vw;
}

.user{
    padding-left: 73px;
    color: #D9D9D9;
}

.clock{
    height: 27.07px;
    width: 28px;
    padding-top: 15px;
    padding-left: 35vw;
}

.line{
    width: 80vw;
    margin-top: 0px;
}
